.UserContainer{
    background-color: #E5E5E5;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 60px;
}

.userTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    padding-left: 30px;
}

.myPosts{
    padding: 30px 0px 30px 0px;
    height: auto;
    background-color: #E5E5E5;
    border-radius: 10px 10px 0px 0px;
}

.myPostsText{
    padding-left:30px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.content{
    width: 80%;
    height: auto;
    margin: 5% 10% 0% 10%;
}

.verticalColPadding{
    padding-top: 30px;
    padding-bottom: 30px
}

.textCentred{
    text-align: center !important;
}