.contentFrame {
    width: 80%;
    max-width: 80%;
    height: auto;
    margin: 2% 10% 0% 10%;
}

.contentFrame h2{
    margin-bottom: 60px;
}

.contentFrameGrid {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100px;
}
.welcomeMessage{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    float:left;
    padding-top: 20px;
    width: 100%;
}

.container{
    clear: both;
}

.rowPadding {
    margin-bottom: 30px;
}