.imageFrame {
    max-width: 24.5vw;
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: 2vw;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: -1;
}