.imageFrame {
    width: 24vw;
    height: auto;
    margin: 1.4vw;
    position: relative;
    z-index: 1;
}

.image {
    width: 24vw;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: -1;
}