.navbar {
    background-color: #C4C4C4;
    width: 100%;
    height: 60px;
}

.navbarContent {
    padding: 15px 10% 15px 10%;
    width: 80%;
}

.navbarSizing {
    height: 30px;
    width: auto;
}

.loginButton {
    float: right;
}