.Leaderboard{
    background-color: #E5E5E5;
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.Leaderboard h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 10px 0px 10px;
}

.Leaderboard h6 {
    font-size: 14px;
    margin: 0px 10px 20px 10px;
}

.shift {
    margin-left: 10px !important;
}